<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit">
    </form>
    <a href="{% url 'app1:export' res1=res%}"><button>Export</button></a>
    {% if data %}
    <table>
        <tr>
            <th>FACULTY NAME</th>
            <th>DATE OF JOIN</th>
        </tr>
        
            {% for i in data %}
            <tr>
            <td>{{i.facultyname}}</td>
            <td>{{i.doj}}</td>
            </tr>
            {% endfor %}
    {% endif %}

    
    
    </table>
</body>
</html>